.container {
    display: flex;
    flex-direction: column;

    .desktop & {
        flex-direction: row;
    }
}

.grid {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-gap: 10px;
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,70,121,1) 24%, rgba(255,248,0,1) 100%);
    padding: 0;
    margin: 0;
    min-height: 80vh;

    &-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    &-element {
        grid-column: span 12;
        .desktop & {
            grid-column: span 3;
        }
        list-style: none;
        background-color: white;
        border-radius: 4px;
        box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1);
        padding: 16px;
    }

    &__load-more {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 40px;
        width: 100%;
        .desktop & {
            width: 150px;
        }
        margin-top: 20px;
    }
    &__error-text {
        color: white;
        font-size: 14px;
        grid-column: 5 / 9;
        .desktop & {
            grid-column: span 2;
        }
    }
}